<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
       <link rel="stylesheet" href="signup.css" />

</head>
<body>
         <div class="wrapper">
    <h2>SignUp Here</h2>
    <p>Become a member <br> of site</p>
    <form action="/signup" method="post" >
      <input placeholder="Name" name="name" type="text">
      <input placeholder="Password" name="password" type="password">
      <button class="sub">Sign in</button>
    </form>
    
    
    <div class="not-member">
      Already Signup? <a href="/login">Login Here</a>
    </div>
  </div>

</body>
</html>